<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.kaindorf.ahme15.skojom15">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coffee"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/coffee"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".gui.CoffeeMachineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.PayBackActivity" />
    </application>

</manifest>